<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectName">Project Name</label>
          <input
            class="form-control"
            type="text"
            id="project-name"
            formControlName="projectName"/>
            <span class="help-block" *ngIf="!signupForm.get('projectName').valid && signupForm.get('projectName').touched">
              <span class="help-block" *ngIf="signupForm.get('projectName').errors?.projectNameIsForbidden">This Project Name is invalid</span>
              <span class="help-block" *ngIf="signupForm.get('projectName').errors?.required">Please enter a project name</span>
            </span>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control"
            type="text"
            id="email"
            formControlName="email"/>
            <span class="help-block" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">Enter a valid email!</span>
        </div>
        <div class="form-group">
          <label for="projectStatus">Project Status</label>
          <select
            class="form-control" formControlName="projectStatus">
            <option *ngFor="let status of projectStatuses" [value]="status">
              {{ status }}
            </option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
